body, html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 8px;
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
  background-color: #FEFEFE; 
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 48px;
  color: #333;
}

h2 {
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 24px;
  color: #222;
}

h3 {
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 16px;
  color: #333;
}

a {
  color: #3e95cd;
}

option.head {
    color: #ff6600;
    selected:selected;
    display:none;
    disabled:disabled;
}

article {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}

p { 
  color: #333;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 15px;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

.header {
  position: sticky;
  top: 0px;
  padding: 20px 20px 0px 20px;
  background: #FEFEFE;
  color: #f1f1f1;
  border-bottom: 2px solid black;
}

.header h2 {
  margin-top: 0;
}

/* Page content */
.content {
  padding: 16px;
}
