body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
  background-color: #FEFEFE; 
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 48px;
  color: #333;
}

h2 {
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 24px;
  color: #222;
}

h3 {
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 16px;
  color: #222;
}

a {
  color: #3e95cd;
}

option.head {
    color: #ff6600;
    selected:selected;
    display:none;
    disabled:disabled;
}

article {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}

p { 
  color: #333;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 15px;
}

div {
  text-align: justify;
  text-justify: inter-word;
}

.header {
  padding: 0px 20px;
  background: #FEFEFE;
  color: #f1f1f1;
  border-bottom: 2px solid black;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}