body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
  background-color: #EFEFEF; 
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

h1 {
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 48px;
  color: #333;
}

h2 {
  font-family: 'Open Sans Condensed',
  sans-serif;
  font-size: 24px;
  color: #222;
   margin: 0 0 50px;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}

option.head {
    color: #ff6600;
    selected:selected;
    display:none;
    disabled:disabled;
}

p { 
  color: #333;
  font-family: 'Muli', sans-serif;
  margin-bottom: 15px;
}